/*My Table*/
.my_table {
    font-family: Roboto,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif;
    width: 100%;
    line-height: 3;
    margin-bottom: 1em;
}

    .my_table > tbody > tr > td {
        padding: 0 0.5em;
    }

    /*.my_table tbody tr:nth-of-type(odd) {
        background-color: rgba(0,0,0,.05);
    }*/

    /*.my_table > tbody > tr > td {
        border: 1px solid #e0e3e5;
    }*/

.my_label {
    font-weight: 600;
    padding: 0 0.5em;
    min-width: 6em;
}

    .my_label:after{
        content: ':';
        float: right;
    }

.requiredField:after {
    content: "*";
    color: red;
}

.my_tdMinWidth {
    width: 8em;
}

.width5 {
    width: 5em;
}

.my_thead {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    font-weight: 600
}

.my_table_boxshadow {
    -webkit-box-shadow: 2px 2px 3px 1px rgba(209,209,209,1);
    -moz-box-shadow: 2px 2px 3px 1px rgba(209,209,209,1);
    box-shadow: 2px 2px 3px 1px rgba(209,209,209,1);

    /*-webkit-box-shadow: 2px 2px 2px 0px rgba(214,214,214,1);
    -moz-box-shadow: 2px 2px 2px 0px rgba(214,214,214,1);
    box-shadow: 2px 2px 2px 0px rgba(214,214,214,1);*/
}

/*Data table*/
table.dataTable > thead {
    color: black;
    font-size: larger;
}

table.dataTable {
    font-size: large;
    color: black;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(88, 152, 231, 0.15);
}

.table-striped tbody tr:hover {
    background-color: rgba(88, 152, 231, 0.4);
}